.navbar {
  grid-column: 1 / 4;
  grid-row: 1 /span 1;
  border: solid black 2px;
}

.menuleft {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  border: solid black 2px;
}

.menuright {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
  border: solid black 2px;
  grid-template-rows: 50% 50%;
}

.playlists {
  min-width: 100%;
  min-height: 50%;
  border: solid black 2px;
}

.saved {
  min-width: 100%;
  min-height: 50%;
  border: solid black 2px;
}

.center {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  border: solid black 2px;
  max-height: 640px;
  overflow-y: auto;
}

.songTable {

}

.wrapper {
  position: fixed;
  display:inline-grid;
  grid-template-columns: 150px auto 250px;
  grid-template-rows: 40px auto 80px;
  min-width: 100%;
  min-height: 100%;
  border: solid green 2px;
}

.player {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.authorize {
  position:fixed;
  left: 200px;
}
